#container{
    margin: 20px;
    display: flex;
}
.div{
    border: 1px solid black;
    text-align: center;
}
#div1{
    height: 300px;
    width: 50%;
}
#div2{
    height: 100vh;
    width: 50vw;
}