.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.campo{
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url(user.png);
    height: 50%;
    width: 25%;
    transition: all 0.3s ease;
    background-color: white;
    border-radius: 50px;
    filter: brightness(1);
}
.campo:hover{
    opacity: 0.4;
}
button{
    width: 80px;
    height: 60px;
    background-color: blueviolet;
    opacity: 0;
    border-radius: 25%;
}
button:hover{
    opacity: 1;
    transition: 1s;
    transition-timing-function: ease-in-out;
}